notes.txt
recipies.txt
.env
conversion/result/
conversion/ffmpeg/
webapp/bin/Debug/
webapp/obj/Debug/
deployment/scripts/data/*
!deployment/scripts/data/.gitkeep
deployment/scripts/secrets.env
import-manager/bin/*
import-manager/obj/*