# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.webapp.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\matth\dev\emb0x\webapp\.idea\.idea.webapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
